* {
  background: #666;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px;
  padding: 20px;
  font-size: 44px;
}

h2 {
  margin: 15px;
  padding: 15px;
  font-size: 34px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
}

select:hover {
  cursor: pointer;
}

main {
  max-width: 75%;
  /* max-height: 70vh; */
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.images-container {
  min-height: 75%;
  min-width: 75%;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  /* overflow: hidden; */
}
img {
  width: 198px;
  height: 198px;
}

.tool-bar {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.breed-container,
.random-container,
.count-container {
  padding: 10px;
}

.breed,
.img-count {
  background: gray;
}

.btn {
  margin: 10px;
  padding: 7px;
}

.btn:hover {
  background-color: gray;
  cursor: pointer;
}

.index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index p,
.index div {
  margin-right: 15px;
}

.square {
  width: 40px;
  height: 35px;
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
}
