* {
  background: #666;
  box-sizing: border-box;
  font-size: 1.2rem;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

img {
  width: 175px;
  height: 175px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
}

select:hover {
  cursor: pointer;
}

main {
  width: 70%;
  height: 70vh;
  border: 1px solid black;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.images-container {
  height: 70%;
  width: 70%;
  background-color: gray;
  overflow: hidden;
}
.tool-bar {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.breed-container,
.count-container {
  padding: 10px;
}

.breed,
.img-count {
  background: gray;
}

.btn {
  /* position: absolute; */
  margin: 10px;
  padding: 7px;
}

.btn:hover {
  background-color: gray;
  cursor: pointer;
}

.index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index p,
.index div {
  margin-right: 15px;
}

.square {
  width: 40px;
  height: 35px;
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
}
